<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <title>글 조회 : SHARE & FAIR</title>
    <!-- <link rel="stylesheet" href="/stylesheets/bootstrap.css"> -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/crudstyle.css">
</head>
<body>
    <header>
        <% include header.ejs %>
    </header>
    <div class="products_box">
        <div class="product">
            <img src="/images/uploaded/<%= posts[0].img %>">
            <div class="product_text_wrapper">
                <div class="product_text product_title">
                    <p><b><%= posts[0].title %></b></p>
                </div>
                <div class="product_text product_created">
                    <% moment.locale('ko') %>
                    <p><%= moment(posts[0].created).startOf('sec').fromNow() %></p>
                </div>
                <div class="product_text product_price">
                    <p><b><%= posts[0].price.toLocaleString() %> 원</b></p>
                </div>
                <div class="product_text product_description">
                    <p><%= posts[0].description %></p>
                </div>
                <% if (isdealed.length != 0) { %>
                <div class="product_text product_deal">
                    <p>가격제안 <%= isdealed.length %>개</p>
                </div>     
                <% } %>
                <!-- 로그인 시: 수정,삭제 / 가격제안 -->
                <% if (logined) { %>   
                    <% if (login == posts[0].user_id) { %>
                        <div class="button_wrapper update_delete">
                            <div class="update_post">
                                <a href="/board/update/<%= posts[0].id %>"><button>수정</button></a>
                            </div>
                            <div class="delete_post">
                                <a href="/board/delete/<%= posts[0].id %>"><button>삭제</button></a>
                            </div>
                        </div>
                    <% } else { %>
                        <% if (!isdealed[0]) { %>
                            <button type="button" class="btn btn-lg deal_btn" id="openModalBtn">
                                가격 제안하기
                            </button>
                            <!-- 모달 영역 -->
                            <div id="modalBox" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">가격 제안하기</h4>
                                        </div>
                                        <form action="/board/deal/<%= posts[0].id %>" method="POST">
                                            <div class="modal-body">
                                                <div class="modal_wrapper">
                                                    <div class="modal_head price">가격</div>
                                                    <input class="modal_context price_box" type="number" name="price" placeholder="￦ 제안할 가격을 입력하세요."
                                                        autocomplete="off" required>
                                                </div>
                                                <hr>
                                                <div class="modal_wrapper">
                                                    <div class="modal_head modal_desc">내용</div>
                                                    <textarea class="modal_context description_box" name="comment" placeholder="전달하고 싶은 내용이 있다면 적어주세요."
                                                        autocomplete="off" required></textarea>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn deal_btn">확인</button>
                                                <button type="button" class="btn btn-default" id="closeModalBtn">취소</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <script>
                                // 모달 버튼에 이벤트를 건다.
                                $('#openModalBtn').on('click', function () {
                                    $('#modalBox').modal('show');
                                });
                                // 모달 안의 취소 버튼에 이벤트를 건다.
                                $('#closeModalBtn').on('click', function () {
                                    $('#modalBox').modal('hide');
                                });
                            </script>
                        <% } else { %>
                            <button type="button" class="btn btn-lg deal_btn" id="openModalBtn">
                                가격제안 수정하기
                            </button>
                            <!-- 모달 영역 -->
                            <div id="modalBox" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">가격 제안하기</h4>
                                        </div>
                                        <form action="/board/deal_re/<%= posts[0].id %>" method="POST">
                                            <div class="modal-body">
                                                <div class="modal_wrapper">
                                                    <div class="modal_head price">가격</div>
                                                    <input class="modal_context price_box" type="number" name="price" placeholder="￦ 제안할 가격을 입력하세요."
                                                        autocomplete="off" value="<%= isdealed.deal_price %>" required>
                                                </div>
                                                <hr>
                                                <div class="modal_wrapper">
                                                    <div class="modal_head modal_desc">내용</div>
                                                    <textarea class="modal_context description_box" name="comment" placeholder="전달하고 싶은 내용이 있다면 적어주세요."
                                                        autocomplete="off" required><%= isdealed.deal_comment %></textarea>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn deal_btn">확인</button>
                                                <button type="button" class="btn btn-default" id="closeModalBtn">취소</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <script>
                                // 모달 버튼에 이벤트를 건다.
                                $('#openModalBtn').on('click', function () {
                                    $('#modalBox').modal('show');
                                });
                                // 모달 안의 취소 버튼에 이벤트를 건다.
                                $('#closeModalBtn').on('click', function () {
                                    $('#modalBox').modal('hide');
                                });
                            </script>
                        <% } %>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>