<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <title>글 조회 : SHARE & FAIR</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/crudstyle.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <% include header.ejs %>
    </header>
    <div class="products_box">
        <div class="product">
            <img src="/images/uploaded/<%= posts[0].img %>">
            <div class="postuserProfile">
                <div class="postuser_img">
                    <% if (posts[0].userimg) { %>
                        <img src="/images/uploaded/<%= posts[0].userimg %>">
                    <% } else { %>
                        <img src="/images/default_image.PNG">
                    <% } %>
                </div>
                <div class="postuser_name"><%= posts[0].username%> 님</div>
            </div>
            <div class="product_text_wrapper">
                <div class="product_text product_title">
                    <p><b><%= posts[0].title %></b></p>
                </div>
                <div class="product_text product_created">
                    <% moment.locale('ko') %>
                    <p><%= moment(posts[0].created).startOf('sec').fromNow() %></p>
                </div>
                <div class="product_text product_price">
                    <p><b><%= posts[0].price.toLocaleString() %> 원</b></p>
                </div>
                <div class="product_text product_description">
                    <p><%= posts[0].description %></p>
                </div>
                <% if (isdealed_post.length != 0) { %>
                    <div class="product_text product_deal">
                        <p>가격제안 <%= isdealed_post.length %>개 · 조회수 <%= posts[0].hit %></p>
                    </div>
                    <!-- 가격제안 목록 조회 -->
                    <button type="button" class="btn deal_btn" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                        가격제안 목록
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">가격제안 목록</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <% isdealed_post.forEach((item, index) => { %>
                                        <div class="modal_wrapper list_wrapper">
                                            <!-- <div class="modal_head price">가격</div> -->
                                            <div class="modal_left">
                                                <p style="font-size:25px; margin-bottom: 0.5rem;"><b><%= item.deal_price.toLocaleString() %>원</b></p>
                                                <p><%= item.username %> 님</p>
                                            </div>
                                            <% if(login == item.userid || login == item.post_userid) { %>
                                                <span>
                                                    <button type="submit" class="submit_btn" style="transform: translateY(50%)">채팅</button>
                                                </span>
                                                <script> $('.submit_btn').click(function(){
                                                    $.ajax({
                                                        url: `/chat`,
                                                        dataType: 'json',
                                                        type: 'POST',
                                                        success: (result) => {
                                                            if(result['result'] == true){
                                                            window.open('/chat/<%= posts[0].postid %>/<%= item.post_userid %>/<%= item.userid %>', '_blank', 'width=500 height=700');
                                                        }}
                                                    })
                                                }) </script>
                                            <% } %>
                                            <div class="modal_bottom">
                                                <p><%= item.deal_comment %></p>
                                            </div>
                                        </div>
                                        <% if(index != isdealed_post.length-1) { %>
                                        <hr>
                                        <% } 
                                    }) %>
                                </div>
                                <div class="modal-footer">
                                    <!-- <button type="button" class="btn deal_btn">확인</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button> -->
                                    <button type="button" class="btn submit_btn" data-bs-dismiss="modal">확인</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } else { %>
                    <div class="product_text product_deal">
                        <p>조회수 <%= posts[0].hit %></p>
                    </div>
                <% } %>
                <!-- 로그인 시: 수정,삭제 / 가격제안 -->
                <% if (logined) { %>   
                    <% if (login == posts[0].user_id) { %>
                        <div class="button_wrapper update_delete">
                            <div class="update_post">
                                <a href="/board/update/<%= posts[0].postid %>"><button>수정</button></a>
                            </div>
                            <div class="delete_post">
                                <a href="/board/delete/<%= posts[0].postid %>"><button>삭제</button></a>
                            </div>
                        </div>
                    <% } else { %>
                        <% if (!isdealed_user[0]) { %>
                            <button type="button" class="btn deal_btn" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                                가격 제안하기
                            </button>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">가격 제안하기</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <form action="/board/deal/<%= posts[0].postid %>" method="POST">
                                            <div class="modal-body">
                                                <input type="hidden" name="post_userid" value="<%= posts[0].user_id %>">
                                                <div class="modal_wrapper">
                                                    <div class="modal_head price">가격</div>
                                                    <input class="modal_context price_box" type="number" name="price" min="0" placeholder="￦ 제안할 가격을 입력하세요."
                                                        autocomplete="off" required>
                                                </div>
                                                <hr>
                                                <div class="modal_wrapper">
                                                    <div class="modal_head modal_desc">내용</div>
                                                    <textarea class="modal_context description_box" name="comment" placeholder="전달하고 싶은 내용이 있다면 적어주세요."
                                                        autocomplete="off" required></textarea>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn submit_btn">확인</button>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        <% } else { %>
                            <button type="button" class="btn deal_btn" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                                가격제안 수정하기
                            </button>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">가격 제안하기</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <form action="/board/deal_re/<%= posts[0].postid %>" method="POST">
                                            <div class="modal-body">
                                                <div class="modal_wrapper">
                                                    <div class="modal_head price">가격</div>
                                                    <input class="modal_context price_box" type="number" name="price" placeholder="￦ 제안할 가격을 입력하세요."
                                                        autocomplete="off" value="<%= isdealed_user[0].deal_price %>" required>
                                                </div>
                                                <hr>
                                                <div class="modal_wrapper">
                                                    <div class="modal_head modal_desc">내용</div>
                                                    <textarea class="modal_context description_box" name="comment" placeholder="전달하고 싶은 내용이 있다면 적어주세요."
                                                        autocomplete="off" required><%= isdealed_user[0].deal_comment %></textarea>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary submit_btn">확인</button>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>