<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글쓰기 : SHARE & FAIR</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/products_selectedstyle.css">
</head>
<body>
    <header>
        <% include header.ejs %>
    </header>
    <div class="products_box">
        <div class="product">
            <img src="/images/uploaded/<%= posts[0].img %>">
            <div class="product_text_wrapper">
                <div class="product_text product_title">
                    <p><b><%= posts[0].title %></b></p>
                </div>
                <div class="product_text product_created">
                    <% moment.locale('ko') %>
                    <p><%= moment(posts[0].created).startOf('sec').fromNow() %></p>
                </div>
                <div class="product_text product_description">
                    <p><%= posts[0].description %></p>
                </div>
                <div class="product_text product_price">
                    <p><b><%= posts[0].price.toLocaleString() %> 원</b></p>
                </div>                
                <% if (login == posts[0].user_id) { %>
                    <div class="update_post">
                        <a href="/board/update/<%= posts[0].id %>"><button>수정</button></a>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>